<h1>Member Details</h1>


  <p>First Name: <%= @member.first_name %></p>
  <p>Last Name:  <%= @member.last_name %></p>
  <p>Member id:  <%= @member.id %></p>


  <p><a href="/members/<%= @member.id %>/edit">Edit member's details</a></p>

  <p><a href="/members/<%= @member.id %>/classes">View member's class bookings</a></p>

  <form action="members/<%= @member.id %>/delete" method="post">
    <input type="submit" value="Delete Member">
  </form>
