<h1>Classes List</h1>

<h2>Note: this page contains information for all future and historical classes.</h2>
<h3>
  <a href="/gym_classes/new">Create New Class</a>
</h3>

<p>To view classes in a selected date range, please complete the date fields below for the start and end of the range and hit the "Time filter" button.</p>

<form action="/gym_classes/date_filtered" method="get">
  <label for="lower-bound-date-field">Filter Start Date:</label>
  <input type="date" name="filter_start_date" id="lower-bound-date-field">
  <label for="upper-bound-date-field">Filter End Date:</label>
  <input type="date" name="filter_end_date" id="upper-bound-date-field">
  <input type="submit" value="Get time filtered results">
</form>


<hr>
<%for gym_class in @gym_classes%>
  <p><%= gym_class.name %></p>
  <p><%= gym_class.class_time %></p>
  <p><%= gym_class.class_date %></p>



  <p><a href="/gym_classes/<%= gym_class.id %>">View class details</a></p>

  <!-- <p><a href="/gym_classes/<%= gym_class.id %>/edit">Edit class details</a></p>

  <p><a href="/gym_classes/<%= gym_class.id %>/members">View members booked into class</a></p>

  <form action="/gym_classes/<%= gym_class.id %>/delete" method="post">
    <input type="submit" value="Delete Class">
  </form> -->

  <hr>
<% end %>
